.skills-container {
    text-align: left;
    padding: 20px;
  }
  
  .skills-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .skills-categories button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s;
    color: #c8c8c8;
}

.skills-categories button.active {
  color: #000000;
}

.skills-categories button:hover {
  color: #0056b3;
}
  
  .skills-list {
    margin-top: 20px;
  }
  
  .skill-bar {
    position: relative;
    background-color: #f4f4f4;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .skill-bar-inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    position: relative;
    transition: width 0.5s;
  }
  
  .skill-name {
    font-weight: bold;
  }
  
  .skill-level {
    font-weight: bold;
  }
  
